{% for client in range(1, plone_client_count + 1) %}
backend {{ host }}_zeoclient{{ client }} {
    .host = "127.0.0.1";
    .port = "{{ '%s'%(plone_client_base_port|int + loop.index-1) }}";
    .connect_timeout = 10s;
    .first_byte_timeout = 300s;
    .between_bytes_timeout = 600s;
    .max_connections = 30;
#  The root URL was subverted for Bika purposes! :/
#    .probe = {
#      .url = "/Plone/manage_main";
#      .interval = 5s;
#      .timeout = 3s;
#      .window = 5;
#      .threshold = 2;
#      .initial = 1;
#    }
}

{% endfor %}

director {{ host }}_director client {
{% for client in range(1, plone_client_count + 1) %}
        { .backend = {{ host }}_zeoclient{{ client }}; .weight = 5; }
{% endfor %}
}

sub vcl_recv {
    if (req.http.host ~ "^{{ server_name }}$")  { set req.backend = {{host}}_director; }
}

# store in cache only by url, not backend host
sub vcl_hash {
  hash_data(req.url);
  return (hash);
}
